
<div class="col-sm-9">
  <h4>Posts</h4>
  
  <%= render 'posts/post_table' %>
</div>
<div class="col-sm-3">
  <h4>Boards 
    <small>
      <% if user_signed_in? %>
        <%= link_to '(new)', new_board_path %>
      <% end %>
    </small>
  </h4>

  <table class="table">
    <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.name, board_path(board) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
