 @import "bootstrap-sprockets";
 @import "bootstrap";

.tagline {
  font-size: x-small;
}

.alert {
  position: absolute;
  left: 15%;
  z-index: 9999;
}

.vote {
  font-size: x-small;
}

.score {
  padding-top: 10px;
}
