 @import "bootstrap-sprockets";
 @import "bootstrap";

.post_title {
  font-size: medium;
}

.tagline {
  font-size: small;
}

.alert {
  position: absolute;
  left: 50%;
  top: 0%;
  z-index: 9999;

  transform: translate(-50%, 0%)
}

.vote {
  font-size: x-small;
}

.score {
  padding-top: 10px;
}
